*{
    margin: 0;
    padding: 0;
}
.my_brand {
    width: 150px;
}

ul {
    display: flex;
    gap: 30px;
}

ul li {
    list-style: none;
}

ul a {
    text-decoration: none;
}

.nav_sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
    padding: 10px;
}

.hamburger{
    display: none;
    width: 40px;
    cursor: pointer;
}

.mobile_menu{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    margin: 3px 0px;
    width: 40%;
    padding-bottom: 20px;
    position: absolute;
    left: -100%;
    /* transition: 0.5s; */
    transition: ease-in 0.5s;
}

.mobile_menu ul{
    display: flex;
    flex-direction: column;
}

@media (max-width: 800px) {

    .menu, .hire_btn{
        display: none;
    }

    .hamburger{
        display: block;
    }

    .nav_sec{
        background-color: blue;
    }

}

